
.introsection{
  box-sizing: border-box;
  text-align: center;
}

.phrase{
  font-size: 10px;
  text-align: center;
  padding: 10px;
  width: 70%;
  position: relative;
  left: 15%;

  @media (min-width:40em){
    font-size: 30px;
  }
}

.intro{

  @media (min-width:40em) {
    font-size: 50px;
    width: 100%;
  }
}

.sitebutton{
  margin-top: 30px;
}

.features{
  text-align: center;
  margin: 30px;
  padding: 20px;

  @media (min-width:40em){
    font-size: 50px;
    
  }
}



.gallery{
  margin-top: 40px;
  text-align: center;

}

.row{

  @media (max-width: 39.9375em){
    width: 60%;
    height: 40%;
    gap: 20px;
    
  }

}


@media (max-width: 39.9375em) {

  .taskbar{
    position: absolute;
    right: 10%;
    text-align: start;
  }

}