
.introsection{
  box-sizing: border-box;
  text-align: center;
}


.phrase{
  font-size: 10px;
  text-align: center;
  padding: 10px;
  width: 70%;
  position: relative;
  left: 15%;

  @media (min-width:40em){
    font-size: 30px;
  }
}

.intro{

  @media (min-width:40em) {
    font-size: 50px;
    width: 100%;
  }
}

.sitebutton{
  margin-top: 30px;
}

.features{
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  font-size: 30px;

  @media (min-width:40em){
    font-size: 50px;
    
  }
}



.gallery{
  margin-top: 40px;
  text-align: center;
  font-size: 15px;

}

.row{

  @media (max-width: 39.9375em){
    gap: 20px;
    padding: 30px;
    
  }

}


@media (max-width: 39.9375em) {

  .taskbar{
    position: absolute;
    right: 10%;
    text-align: start;
  }

}

h4{
  padding: 20px;
}


.about {
  text-align: center;

  
}

.about-title{
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;

  @media (min-width:40em) {
    font-size: 50px;
  }
  font-size: 30px;
}

.inspire{
  padding: 20px;
  text-align: center;
  width: 40%;
  position: relative;
  left: 30%;

  @media (max-width:39.9375em) {
    width: 100%;
    position: relative;
    left: 0%;
  }
}